body {
  text-align: center;
  color: #484c7f;
  background: #dfd3c3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  text-align: center;
  font-size: 38px;
}
select {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  font-size: 16px;
}
h2 {
  margin: 0;
  font-size: 28px;
}
.container {
  max-width: 450px;
  margin: 20px auto;
  padding: 20px;
  display: block;
  background: #f0ece2;
  border-radius: 10px;
  box-shadow: 6px 3px 3px #596e79b6;
  text-align: left;
}

.cities {
  margin: 20px;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #484c7f91;
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.6;
  margin: 0;
}
.time {
  font-size: 38px;
  font-weight: bold;
  padding: 0px;
}
.time small {
  font-size: 16px;
  line-height: 36px;
  vertical-align: middle;
  margin-right: 10px;
}
footer {
  margin-top: 20px;
}
